<!DOCTYPE html>

<% if app.config.pipeline.manifest %>
  <html manifest="/cache.manifest">
<% else %>
  <html>
<% end %>

  <head>
    <meta charset="utf-8"/>
    <title>Jukebox</title>

    <link href="/application.css" rel="stylesheet">
  </head>

  <body>
    <script type="x-template" id="track-template">
      <div class="info">
        <span class="track-name"></span>
        by
        <span class="track-artist"></span>
        from the album <span class="track-album"></span>
      </div>
      <div class="actions"></div>
    </script>

    <section>
      <input id="search" autofocus=true type="text" size="100"
        placeholder="Type to search" />
      <ul id="results"></ul>
    </section>



    <% app.config.scripts.each do |script| %>
      <script src="<%= script %>"></script>
    <% end %>

    <script src="/application.js"></script>

    <script type="text/javascript">
      minispade.require("jukebox/boot");
    </script>
  </body>
</html>

